<div class="container">
  <h1>Kalibri Labs Angular Technical Evaluation</h1>

  <div class="row">
    <div class="col-md-6">
      <app-todo-saver
        (onTodoAdded)="handleNewTodo($event)"
      >
      </app-todo-saver>
    </div>
    <div class="col-md-6">
      <app-todo-display
        [itemsToDisplay]="savedTodos"
        (onItemClick)="handleDeleteTodo($event)"
      >
      </app-todo-display>
    </div>
  </div>
</div>